:root {
    --primary-color: darkblue;
    --text-light: white;
    --text-dark: #333;
    --bg-light: #eee;
    --border-color: rgba(0, 0, 0, 0.2);
    --padding-standard: 1rem;
    --padding-small: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding-small);
}

nav a {
    color: var(--text-light);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 130px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* css class selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}